:root {
--color-brand-dark: #465929;
--color-brand-light: #819B57;
--primary-dark: #31261A;
--primary-light: #FAF4EA;
}
/* Base */
body {
color: var(--primary-dark);
}
ul {
list-style-type: none;
    }

 /* Button */
.button {
    color: var(--primary-light);
    background: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 8px; 
    cursor: pointer;
}
.button:hover {
color: var(--color-brand-light);
background-color: transparent;
}

.link {
color: var(--primary-light)
}
.link:hover {
color: var(--color-brand-dark)
}

/* Hero Section */
.hero-title {
color: var(--primary-light)}

.hero-title .accent {
   color: var(--color-brand-light)}

/* Advantages Section */
   .advantages-list {
    color: var(--primary-light);
    background: var(--color-brand-light);
   }

   .section-title {
    color: var(--primary-dark);
    }
    .section-title .accent {
    color: var(--color-brand-dark);
        }
